apiVersion: apps/v1
kind: Deployment
metadata:
  name: ck-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ck-postgres
  template:
    metadata:
      labels:
        app: ck-postgres
    spec:
      securityContext:
        runAsUser: 1001
        fsGroup: 1001
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- range .Values.imagePullSecrets }}
        - name: {{ .name }}
      {{- end }}
      {{- end }}
      
      {{- if and .Values.nodeAffinity .Values.nodeAffinity.enabled }}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: cloud.google.com/machine-family
                operator: In
                values:
                - {{ .Values.nodeAffinity.nodeType }}
      {{- end }}
      tolerations:
        {{- if .Values.tolerations }}
        {{- toYaml .Values.tolerations | nindent 8 }}
        {{- end }}
      containers:
        - name: ck-postgres
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: ck-postgres-secret
                  key: username

            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ck-postgres-secret
                  key: password

            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: ck-postgres-secret
                  key: database

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
            - name: init-scripts
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: ck-postgres-pvc 
        - name: init-scripts
          configMap:
            name: ck-postgres-init 