# Secret for Postgress
apiVersion: v1
kind: Secret
metadata:
  name: ck-postgres-secret
type: Opaque
stringData:
  POSTGRESQL_USERNAME: {{ .Values.credentials.username | quote }}
  POSTGRESQL_PASSWORD: {{ .Values.credentials.password | quote }}
  POSTGRESQL_DATABASE: {{ .Values.credentials.database | quote }}
  POSTGRESQL_REPLICATION_PASSWORD: {{ .Values.credentials.replica_user_password | quote }}

# Secret for AWS S3 bucket
# ---
# {{- if eq .Values.objectStorage.provider "aws" }}
# apiVersion: v1
# kind: Secret
# metadata:
#   name: postgres-backup-aws
# type: Opaque
# stringData:
#   AWS_ACCESS_KEY_ID: {{ .Values.aws.accessKey | quote }}
#   AWS_SECRET_ACCESS_KEY: {{ .Values.aws.secretKey | quote }}
# {{- end }}

# # Secret for GCP Storage Bucket
# ---
# {{- if eq .Values.objectStorage.provider "gcp" }}
# apiVersion: v1
# kind: Secret
# metadata:
#   name: postgres-backup-gcp
# type: Opaque
# stringData:
#   service-account.json: |
# {{ .Values.gcp.serviceAccountJson | nindent 4 }}
# {{- end }}

# # Secrets For Azure Storage Account
# ---
# {{- if eq .Values.objectStorage.provider "azure" }}
# apiVersion: v1
# kind: Secret
# metadata:
#   name: postgres-backup-azure
# type: Opaque
# stringData:
#   AZURE_STORAGE_ACCOUNT: {{ .Values.azure.accountName | quote }}
#   AZURE_STORAGE_KEY: {{ .Values.azure.accountKey | quote }}
# {{- end }}

