apiVersion: v1
kind: Secret
metadata:
  name: ck-postgres-secret
type: Opaque
data:
  username: { ? { .Values.credentials.username | b64enc } }
  password: { ? { .Values.credentials.password | b64enc } }
  database: { ? { .Values.credentials.database | b64enc } }
