apiVersion: v1
kind: Secret
metadata:
  name: ck-postgres-secret
type: Opaque
stringData:
  POSTGRESQL_USERNAME: {{ .Values.credentials.username }}
  POSTGRESQL_PASSWORD: {{ .Values.credentials.password }}
  POSTGRESQL_DATABASE: {{ .Values.credentials.database }}
  POSTGRESQL_REPLICA_PASSWORD: {{ .Values.credentials.replica.password }} 