image:
  repository: bitnamilegacy/postgresql
  tag: "15.2.0"
  pullPolicy: IfNotPresent

credentials:
  username: cknexus
  password: cknexus
  database: ckservicedb

persistence:
  enabled: true
  # nameOverride: ck-postgres-pvc-gcp
  # storageClass: ckn-gcp-sc
  # createStorageClass: true

  # # GCP-specific StorageClass fields
  # provisioner: pd.csi.storage.gke.io
  # volumeBindingMode: WaitForFirstConsumer
  # isDefault: true

  # parameters:
  #   type: pd-ssd
  #   replication-type: none
  #   encrypted: "true"
  existingClaim: ck-postgres-pvc
  size: 10Gi

service:
  type: ClusterIP
  port: 5432

resources:
  requests:
    memory: "1024Mi"
    cpu: "1024m"
  limits:
    memory: "1048Mi"
    cpu: "1024m"

# Add init scripts configuration
initScripts:
  enabled: true
  scripts:
  - name: "01-init.sql"
    path: "init/01-init.sql"

#tolerations:
#  - key: "nodetype"
#    operator: "Equal"
#    value: "db-monitoring-node"
#    effect: "NoSchedule"
