apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: test-db
  namespace: default
spec:
  teamId: "test"
  volume:
    size: 1Gi
  numberOfInstances: 2
  users:
    testuser:
      - superuser
      - createdb
  databases:
    testdb: testuser
  postgresql:
    version: "15"