name: Update service tag and sync clients

on:
  workflow_dispatch:
    inputs:
      service_name:
        description: "Select service"
        required: true
        type: choice
        options:
          - ck-graph-mcp-server
          - ck-intel-collector
          - ck-mcp
          - karma-lens
          - nexus
          - nginx

      service_tag:
        description: "New image tag"
        required: true
        type: string

      client1:
        description: "Flipkart"
        required: false
        type: boolean

      client2:
        description: "PhonePe"
        required: false
        type: boolean

      auto_merge:
        description: "Auto-merge child PRs"
        required: true
        default: false
        type: boolean

permissions:
  contents: write
  pull-requests: write

jobs:
  update-and-sync:
    runs-on: ubuntu-latest

    env:
      ORG: firgga-sunil
      PARENT_REPO: ${{ github.repository }}
      TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

    steps:
      - name: Checkout parent repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # IMPORTANT (we will commit)

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq rsync
          sudo snap install yq

      - name: Update parent repo values file
        run: |
          chmod +x .github/scripts/update-parent-and-sync.sh
          .github/scripts/update-parent-and-sync.sh
        env:
          SERVICE_NAME: ${{ inputs.service_name }}
          SERVICE_TAG: ${{ inputs.service_tag }}

          CLIENT1: ${{ inputs.client1 }}
          CLIENT2: ${{ inputs.client2 }}

          AUTO_MERGE: ${{ inputs.auto_merge }}
          ORG: ${{ env.ORG }}
          PARENT_REPO: ${{ env.PARENT_REPO }}
          TOKEN: ${{ env.TOKEN }}
