name: Syncs template repo to client repos

on:
  workflow_dispatch:
    inputs:
      clients:
        description: "choose the client to sync"
        required: true
        default: ""
        type: choice
        options:
          - "flipkart"
          - "phonePe"

      auto_merge:
        description: "Auto-merge child PRs"
        required: true
        default: false
        type: boolean

permissions:
  contents: write
  pull-requests: write

jobs:
  sync:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }} # token with repo scopes OR GitHub App token
      ORG: firgga-sunil
      PARENT_REPO: ${{ github.repository }}   # Automatically resolves to the repo where this workflow exists
    steps:
      - name: Check out parent repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
        
        # rsync: Efficient file synchronization, jq: JSON parsing for GitHub API responses
      - name: Install git & rsync
        run: |
          sudo apt-get update
          sudo apt-get install -y rsync jq 

      - name: Run sync script
        run: |
          chmod +x .github/scripts-repo/sync-repos.sh
          .github/scripts-repo/sync-repos.sh "${{ github.event.inputs.clients }}" "${{ github.event.inputs.auto_merge }}" "${{ env.ORG }}" "${{ env.PARENT_REPO }}" "${{ secrets.PERSONAL_ACCESS_TOKEN }}"
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}